<div class="d-flex flex-column p-3">
  <h5>APIs Disponíveis</h5>
  <ul class="nav nav-pills flex-column mb-auto">
    <li><a href="https://fabriciodemedeiros.github.io/i-Fasil/api/i-escola.html" class="nav-link link-dark">i-Escola</a></li>
    <li><a href="https://fabriciodemedeiros.github.io/i-Fasil/api/i-prefeitura" class="nav-link link-dark">i-Prefeitura</a></li>
    <li><a href="https://fabriciodemedeiros.github.io/i-Fasil/api/i-professor" class="nav-link link-dark">i-Professor</a></li>
    <li><a href="https://fabriciodemedeiros.github.io/i-Fasil/api/i-simulados" class="nav-link link-dark">i-Simulados</a></li>
    <li><a href="https://fabriciodemedeiros.github.io/i-Fasil/api/i-saude" class="nav-link link-dark">i-Saúde</a></li>
    <li><a href="https://fabriciodemedeiros.github.io/i-Fasil/api/sistemas" class="nav-link link-dark">Outros Sistemas</a></li>
  </ul>
</div>
